<p>
  {{link-to "Contact list" "contacts.index" }}
</p>

<h1>Contact show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<strong>Notes:</strong>

{{model.notes}}
<p>
  {{#each note in model.notes}}
    note: {{note}}
  {{/each}}
</p>

