<form {{action "save" on="submit"}}>
  <div>
    <label>
      Content
      {{input type="text" value=model.content}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
